{"filter":false,"title":"requirements.txt","tooltip":"/pset6/sentiments/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":6,"mode":"ace/mode/text"}},"timestamp":1501981925915,"hash":"f7b299876cbba02a0c1001f365645323fc53f8fa"}